@import "../../vendor/mixins.scss";
@import "../../vendor/variables.scss";

.profile {
  width: 95%;
  max-width: 500px;
  margin: 30px auto 0;
  @include flex(column, start, stretch, 10px);

  &__input-group {
    width: 100%;
    @include flex(row, space-between, center, 0px);
    padding-block: 5px 16px;
    border-bottom: 1px solid $bg-color;

    &:last-of-type {
      border-bottom: none;
    }

    label {
      @include text(medium, 400, $color);
    }

    input {
      @include text(medium, 400, ivory);
      text-align: right;
      background-color: transparent;
      outline: none;
      border: none;
    }
  }

  &__btn {
    align-self: flex-start;
    max-width: 250px;
    padding: 7px 30px;
    background-color: $bg-color;
    border-radius: 20px;
    outline: none;
    border: none;
    @include text(medium, 500, ivory);
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.15);
    }

    &:disabled {
      cursor: default;
      transform: none;
      border: none;
      background-color: transparentize(grey, 0.5);
    }
  }
}
