.profile {
  width: 95%;
  max-width: 500px;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 2px;
}
.profile__input-group {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-block: 7px;
  padding-inline: 15px;
  background-color: rgba(166, 106, 106, 0.2019607843);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.profile__input-group label {
  margin: 0;
  font-size: medium;
  font-weight: 400;
  color: #a66a6a;
}
.profile__input-group input {
  margin: 0;
  font-size: medium;
  font-weight: 400;
  color: ivory;
  width: 60%;
  text-align: right;
  background-color: transparent;
  outline: none;
  border: none;
}
.profile__input-group input::-webkit-input-placeholder {
  margin: 0;
  font-size: medium;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5);
}
.profile__input-group input::-moz-placeholder {
  margin: 0;
  font-size: medium;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5);
}
.profile__input-group input:-ms-input-placeholder {
  margin: 0;
  font-size: medium;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5);
}
.profile__input-group input::-ms-input-placeholder {
  margin: 0;
  font-size: medium;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5);
}
.profile__input-group input::placeholder {
  margin: 0;
  font-size: medium;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5);
}
.profile__input-group input[type=number]::-webkit-outer-spin-button,
.profile__input-group input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.profile span {
  margin: 0;
  font-size: xx-small;
  font-weight: 400;
  color: red;
  min-height: 10.35px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.profile__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 250px;
  padding: 7px 30px;
  background-color: #a66a6a;
  border-radius: 20px;
  outline: none;
  border: none;
  margin: 0;
  font-size: medium;
  font-weight: 500;
  color: ivory;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.profile__btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.profile__btn:disabled {
  cursor: default;
  -webkit-transform: none;
          transform: none;
  border: none;
  background-color: rgba(128, 128, 128, 0.5);
}
.profile p {
  margin: 0;
  font-size: xx-small;
  font-weight: 400;
  color: red;
  margin-top: 3px;
  margin-left: 15px;
  min-height: 10.35px;
}
.profile a {
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
  font-size: small;
  font-weight: 400;
  color: #a66a6a;
  margin-left: 15px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.profile a:hover {
  color: #7a4949;
}