@import "../../vendor/mixins.scss";
@import "../../vendor/variables.scss";

.meal-form {
  width: 100%;
  height: 92%;
  @include flex(column, start, stretch, 35px);

  &__title {
    @include text(x-large, 500, $bg-color);
    margin-top: 13px;

    &_select {
      width: 60%;
      height: 50px;
      border-radius: 30px;
      outline: none;
      border: 1.5px solid $bg-color;
      background-color: transparent;
      margin-top: 10px;
      padding: 0 0 2px 10px;

      option {
        text-align: left;
        @include text(small, 400, $color);
      }
    }
  }

  &__graphics {
    margin: 0 auto;
    padding: 0;
    @include flex(row, space-between, center, 5px);

    @include media_xs {
      width: 88%;
    }

    &-item {
      @include flex(column, start, center, 10px);

      &-circle {
        @include circle(30px);
        border: 3px solid ivory;
        @include flex(column, center, center, 0px);

        @include media_xs {
          @include circle(40px);
        }

        @include media_sm {
          @include circle(50px);
        }

        p {
          @include text(x-small, 500, $color);
        }
      }

      span {
        @include text(x-small, 400, $color);
      }
    }
  }

  &__meals {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    @include flex(column, start, center, 10px);
  }

  &__text {
    @include text(medium, 400, $bg-color);
    width: 100%;
    text-align: center;
  }
}
