@import "../../vendor/mixins.scss";
@import "../../vendor/variables.scss";

.main {
  margin: 0;
  width: 100%;
  height: 100%;
  @include flex(column, start, center, 10px);

  &__date {
    @include text(medium, 400, ivory);
    background-color: transparentize(grey, 0.85);
    padding: 7px;
    padding-left: 9px;
    border-radius: 20px;
    border: none;
    outline: none;

    &::-webkit-calendar-picker-indicator {
      margin-right: 2px;
      cursor: pointer;
      filter: invert(1);
    }
  }

  &__graphics-circle {
    margin: 0;
    margin-top: 5px;
    @include circle(125px);
    border: 5px solid ivory;
    @include flex(column, center, center, 5px);

    h2 {
      @include text(xx-large, 500, $color);
    }

    span {
      @include text(small, 400, $color);
    }
  }

  &__add-graphics {
    width: 95%;

    @include media_lg {
      width: 940px;
    }

    &-list {
      padding-block: 10px;
      padding-inline: 25px;
      margin: 0;
      @include flex(row, space-between, center, 10px);
      list-style-type: none;
      background-color: ivory;
      border-radius: 15px;

      @include media_sm {
        padding-inline: 15%;
      }

      &-item {
        margin: 0;
        @include flex(column, center, center, 3px);

        span {
          @include text(x-small, 400, $color);
        }

        div {
          height: 5px;
          width: 50px;
          background-color: $bg-color;
          border-radius: 2px;

          @include media_sm {
            width: 75px;
          }

          @include media_md {
            width: 100px;
          }

          @include media_lg {
            width: 125px;
          }
        }
      }
    }
  }
}
