.cards {
  width: 100%;
  height: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: ivory;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cards__list {
  width: 98%;
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  justify-items: center;
  list-style-type: none;
}
@media screen and (min-width: 480px) {
  .cards__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .cards__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .cards__list {
    width: 972px;
  }
}