@import "../../vendor/mixins.scss";
@import "../../vendor/variables.scss";

.creation {
  width: 100%;
  box-sizing: border-box;
  @include flex(column, start, center, 20px);

  &__input-group,
  &__inputs-group {
    width: 100%;
    padding-inline: 7px;
    padding-block: 17px 3px;
    border-radius: 30px;
    background-color: ivory;
    @include flex(column, start, center, 0px);

    span {
      width: 80%;
      min-height: 10.35px;
      @include text(xx-small, 400, red);
      margin-top: 5px;
      text-align: left;
    }
  }

  &__input-group {
    label {
      padding-bottom: 7px;
      border-bottom: 1px solid $bg-color;
      @include text(small, 500, $bg-color);

      @include media_xs {
        font-size: medium;
      }

      @include media_sm {
        font-size: large;
      }
    }

    input {
      padding-top: 7px;
      @include text(xx-small, 400, $color);
      background-color: transparent;
      border: none;
      outline: none;
      width: 80%;
      text-align: left;

      @include media_xs {
        font-size: small;
      }

      @include media_sm {
        font-size: medium;
      }

      &::placeholder {
        @include text(xx-small, 400, transparentize(grey, 0.5));

        @include media_xs {
          font-size: small;
        }

        @include media_sm {
          font-size: medium;
        }
      }
    }
  }

  &__inputs-group {
    width: 100%;
    &-text {
      @include text(small, 500, $bg-color);
      padding-bottom: 7px;
      border-bottom: 1px solid $bg-color;

      @include media_xs {
        font-size: medium;
      }

      @include media_sm {
        font-size: large;
      }
    }

    &-container {
      width: 90%;
      padding-top: 7px;
      @include flex(row, space-between, center, 5px);

      &-item {
        max-width: 45px;
        @include flex(column, start, center, 5px);

        @include media_xs {
          max-width: 55px;
        }

        @include media_sm {
          max-width: 65px;
        }

        label {
          @include text(xx-small, 500, transparentize(grey, 0.5));

          @include media_xs {
            font-size: x-small;
          }

          @include media_sm {
            font-size: small;
          }
        }

        input {
          width: 90%;
          border-radius: 10px;
          border: 1px solid $bg-color;
          @include text(x-small, 400, $color);
          background-color: transparent;
          outline: none;

          @include media_xs {
            font-size: small;
          }

          @include media_sm {
            font-size: medium;
          }
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }
  }
}
