.creation {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.creation__input-group, .creation__inputs-group {
  width: 100%;
  padding-inline: 7px;
  padding-block: 17px 3px;
  border-radius: 30px;
  background-color: ivory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.creation__input-group span, .creation__inputs-group span {
  width: 80%;
  min-height: 10.35px;
  margin: 0;
  font-size: xx-small;
  font-weight: 400;
  color: red;
  margin-top: 5px;
  text-align: left;
}
.creation__input-group label {
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(166, 106, 106, 0.3019607843);
  margin: 0;
  font-size: small;
  font-weight: 500;
  color: rgba(166, 106, 106, 0.3019607843);
}
@media screen and (min-width: 310px) {
  .creation__input-group label {
    font-size: medium;
  }
}
@media screen and (min-width: 480px) {
  .creation__input-group label {
    font-size: large;
  }
}
.creation__input-group input {
  padding-top: 7px;
  margin: 0;
  font-size: xx-small;
  font-weight: 400;
  color: #a66a6a;
  background-color: transparent;
  border: none;
  outline: none;
  width: 80%;
  text-align: left;
}
@media screen and (min-width: 310px) {
  .creation__input-group input {
    font-size: small;
  }
}
@media screen and (min-width: 480px) {
  .creation__input-group input {
    font-size: medium;
  }
}
.creation__input-group input::-webkit-input-placeholder {
  margin: 0;
  font-size: xx-small;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5);
}
.creation__input-group input::-moz-placeholder {
  margin: 0;
  font-size: xx-small;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5);
}
.creation__input-group input:-ms-input-placeholder {
  margin: 0;
  font-size: xx-small;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5);
}
.creation__input-group input::-ms-input-placeholder {
  margin: 0;
  font-size: xx-small;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5);
}
.creation__input-group input::placeholder {
  margin: 0;
  font-size: xx-small;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5);
}
@media screen and (min-width: 310px) {
  .creation__input-group input::-webkit-input-placeholder {
    font-size: small;
  }
  .creation__input-group input::-moz-placeholder {
    font-size: small;
  }
  .creation__input-group input:-ms-input-placeholder {
    font-size: small;
  }
  .creation__input-group input::-ms-input-placeholder {
    font-size: small;
  }
  .creation__input-group input::placeholder {
    font-size: small;
  }
}
@media screen and (min-width: 480px) {
  .creation__input-group input::-webkit-input-placeholder {
    font-size: medium;
  }
  .creation__input-group input::-moz-placeholder {
    font-size: medium;
  }
  .creation__input-group input:-ms-input-placeholder {
    font-size: medium;
  }
  .creation__input-group input::-ms-input-placeholder {
    font-size: medium;
  }
  .creation__input-group input::placeholder {
    font-size: medium;
  }
}
.creation__inputs-group {
  width: 100%;
}
.creation__inputs-group-text {
  margin: 0;
  font-size: small;
  font-weight: 500;
  color: rgba(166, 106, 106, 0.3019607843);
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(166, 106, 106, 0.3019607843);
}
@media screen and (min-width: 310px) {
  .creation__inputs-group-text {
    font-size: medium;
  }
}
@media screen and (min-width: 480px) {
  .creation__inputs-group-text {
    font-size: large;
  }
}
.creation__inputs-group-container {
  width: 90%;
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.creation__inputs-group-container-item {
  max-width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
@media screen and (min-width: 310px) {
  .creation__inputs-group-container-item {
    max-width: 55px;
  }
}
@media screen and (min-width: 480px) {
  .creation__inputs-group-container-item {
    max-width: 65px;
  }
}
.creation__inputs-group-container-item label {
  margin: 0;
  font-size: xx-small;
  font-weight: 500;
  color: rgba(128, 128, 128, 0.5);
}
@media screen and (min-width: 310px) {
  .creation__inputs-group-container-item label {
    font-size: x-small;
  }
}
@media screen and (min-width: 480px) {
  .creation__inputs-group-container-item label {
    font-size: small;
  }
}
.creation__inputs-group-container-item input {
  width: 90%;
  border-radius: 10px;
  border: 1px solid rgba(166, 106, 106, 0.3019607843);
  margin: 0;
  font-size: x-small;
  font-weight: 400;
  color: #a66a6a;
  background-color: transparent;
  outline: none;
}
@media screen and (min-width: 310px) {
  .creation__inputs-group-container-item input {
    font-size: small;
  }
}
@media screen and (min-width: 480px) {
  .creation__inputs-group-container-item input {
    font-size: medium;
  }
}
.creation__inputs-group-container-item input[type=number]::-webkit-outer-spin-button,
.creation__inputs-group-container-item input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}